.control--wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  //height: 100%;
}

.control {
  cursor: pointer;
  padding: 16px;

  &:hover {
    background: grey;
  }

  &.disabled {
    cursor: not-allowed;
    background: black;
  }

  .control--icon {
  }
}
